body
	+reg
	font-size: 14px
	background-color: $w

.none
	display: none !important
	visibility: hidden

.padding
	width: 100%
	position: relative
	display: block
	height: 500px
	border: 1px solid red
	margin-top: 100px

.mt30
	margin-top: 30px !important
.mb40
	margin-bottom: 40px !important

.x-container
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	max-width: 100%
	width: 100%
	margin: 0 auto
	padding: 0 20px
	position: relative

.arrow 
	display: block
	position: relative
	height: 40px 
	width: 40px
	margin: 0 auto
	background-color: $green
	+trans
	&:hover
		background-color: $green-dark

.arrow span
	display: block
	position: absolute
	top: 50%
	left: 50%
	margin: auto
	height: 10px
	width: 10px
	margin: -10px 0 0 -5px
	border: 1px solid $w
	border-width: 1px 1px 0 0
	transform: rotate(135deg)

	&:after 
		content: ''
		display: block
		height: 10px 
		width: 10px
		border: 1px solid $w
		border-width: 1px 1px 0 0
		transform: translate(5px, -6px)

.section-title
	text-align: center
	font-size: 24px
	h1
		+bold
		color: $red
		+r(992)
			font-size: 30px
		+r(768)
			font-size: 25px

.background-brown
	background-color: $brown

.faq-t
	-moz-transform: rotate(-45deg)
	-ms-transform: rotate(-45deg)
	-webkit-transform: rotate(-45deg)
	transform: rotate(-45deg)
	display: inline-block
	position: relative
	top: -5px
	left: 20px
	width: 10px
	height: 10px
	background: transparent
	border-left: 2px solid $red
	border-bottom: 2px solid $red
	transition: all .3s ease-in-out
	+r(768)
		width: 7px
		height: 7px
		left: 5px
		top: -3px
		border-width: 1px

.faq-o
	top: 0
	-moz-transform: rotate(-224deg)
	-ms-transform: rotate(-224deg)
	-webkit-transform: rotate(-224deg)
	transform: rotate(-224deg)

.form
	h3
		+bold
		text-align: left
		margin-bottom: 20px !important

#form
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	flex-direction: column
	input
		display: block
		width: 100%
		border: 1px solid $green
		margin-bottom: 20px
		padding: 20px
	.btn-success
		padding: 10px 20px

.remodal-close
	width: 45px !important
	height: 45px !important
	left: auto !important
	top: 5px !important
	right: 10px !important
	&::before
		width: 45px !important
		line-height: 45px !important
		font-size: 45px !important

.overlay
	position: fixed
	width: 100%
	height: 100vh
	top: 0
	left: 0
	background-color: rgba($b, .9)
	display: none
	z-index: 99999

.popup
	position: absolute
	width: 500px
	height: 200px
	text-align: center
	left: 50%
	top: 50%
	transform: translate(-50%, -50%)
	background-color: $green
	+r(500)
		max-width: calc(100% - 5%)
		width: 100%

	h2
		color: $w
		+bold
		line-height: 200px

.close-popup
	position: absolute
	top: 15px
	right: 15px
	width: 23px
	height: 23px
	cursor: pointer

	&::before, &::after
		content: ''
		background-color: $w
		position: absolute
		height: 2px
		width: 31px
		top: 11px
		left: -4px

	&::before
		transform: rotate(-45deg)

	&::after
		transform: rotate(45deg)

.buyForm
	h3
		margin-bottom: 30px !important
		+r(767)
			font-size: 20px
		+r(480)
			font-size: 16px
			line-height: 22px
		span
			color: $green
			+bold
	a.buy
		max-width: 100%
		width: 200px
		height: 40px
		line-height: 40px
		margin: 0 auto
		display: block
		margin-top: 30px
		color: $w
		text-transform: uppercase
		font-size: 16px
		background-color: $green
		border-radius: 4px
		+reg

	img
		margin: 0 auto 20px auto