header
	position: absolute
	top: 0
	left: 50%
	transform: translateX(-50%)
	z-index: 333
	width: 700px
	text-align: center
	+tr(all .2s ease)
	+r(768)
		width: 100%
		background-color: rgba($b,0.8)
	&.fixed
		+tr(all .2s ease)
		position: fixed
		width: 100%
		background-color: rgba($b,0.8)
		.menu
			padding: 15px 20px
			
.menu
	background-color: rgba($b,0.3)
	align-items: center
	padding: 20px
	+r(768)
		width: 100%
		background-color: rgba($b,0)
		display: none
	li
		display: inline-block
		position: relative
		margin-right: 20px
		&:last-child
			margin-right: 0
		&:first-child::after
			content: none
		&::after
			content: ''
			display: inline-block
			width: 5px
			height: 5px
			position: absolute
			top: 50%
			left: -15px
			transform: translateY(-50%)
			background-color: $brown
			border-radius: 50%
		+r(768)
			display: block
			margin-bottom: 15px !important
			margin-right: 0	!important
			&:last-child
				margin-bottom: 0
			&::after
				content: none
		a
			+reg
			color: $w
			text-transform: uppercase
			display: inline-block
			+trans
			&:hover
				color: $brown

.mobile-btn
	position: relative
	padding: 10px 0
	display: none
	+r(768)
		display: block
	a
		display: block
		border-radius: 4px
		color: $w
		font-size: 16px
		text-transform: uppercase
		width: 150px
		height: 30px
		line-height: 30px
		border: 1px solid $w
		margin: 0 auto
		+trans
		&:hover, &:active, &:focus
			color: $b
			background-color: $w