#hero
	width: 100%
	height: 500px
	display: block
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	.x-container
		+r(768)
			align-items: center
			justify-content: center
			flex-direction: column
.hero
	height: 100%
	&-logo
		display: block
		margin: 60px 0 0 60px
		+r(1336)
			margin-left: 40px
		+r(1200)
			margin-left: 30px
		+r(992)
			margin-left: 0
		+r(768)
			margin: 0
		img
			max-width: 250px
			+r(1200)
				max-width: 200px
			+r(992)
				max-width: 150px
			+r(768)
				max-width: 120px
				margin-left: -10px
	&-title
		color: $w
		margin: 160px 0 0 160px
		position: relative
		+r(1336)
			margin-left: 140px
		+r(1200)
			margin-left: 160px
		+r(992)
			margin-left: 100px
		+r(850)
			margin-left: 50px
		+r(768)
			margin: 0
		h1
			+playBlackIta
			font-size: 70px
			line-height: 1.2
			text-align: right
			text-shadow: 0px 14px 17.11px rgba(0, 0, 0, 0.35)
			+r(1336)
				font-size: 65px
			+r(1170)
				font-size: 60px
			+r(992)
				font-size: 50px
			+r(850)
				font-size: 45px
			+r(768)
				text-align: center
				font-size: 40px
			+r(480)
				font-size: 35px
			+r(400)
				font-size: 30px
	&-garant
		display: block
		position: absolute
		right: -180px
		bottom: 40px
		+r(1336)
			right: -170px
			bottom: 50px
		+r(1170)
			bottom: 80px
		+r(992)
			right: -100px
			bottom: 100px
		+r(768)
			right: 0
			top: 0
			bottom: auto
			position: static
		img
			max-width: 250px
			+r(992)
				max-width: 200px
			+r(768)
				transform: rotate(18deg)
				margin: 0 auto
				max-width: 150px

#aboutme
	min-height: 500px
	padding: 70px 0 20px 0
	a.arrow
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)
	.section-title
		background-color: $w
		padding: 12px 0
.about
	margin-top: 50px
	&-img
		img
			max-width: 100%
			+r(768)
				max-width: 300px
			+r(480)
				display: none
				
	&-name
		&.mb40
			+r(992)
				margin-bottom: 25px !important
		h1
			font-size: 35px
			+bold
			+r(1024)
				font-size: 30px
			+r(992)
				font-size: 25px
			+r(480)
				font-size: 22px
	&-success
		&__list
			margin-bottom: 10px !important
			&:last-child
				margin-bottom: 0 !important
			li
				font-size: 20px
				+reg
				+r(1024)
					font-size: 18px
				+r(768)
					font-size: 16px
				+r(480)
					font-size: 14px
		&__history
			margin-top: 30px
			p
				font-size: 22px
				+italic
				+r(1024)
					font-size: 20px
				+r(992)
					font-size: 16px
				+r(480)
					font-size: 14px
		h4
			font-size: 25px
			margin-bottom: 5px !important
			+reg
			+r(1024)
				font-size: 22px
			+r(992)
				font-size: 20px
	&-respect
		margin-top: 25px
		font-size: 20px
		+playBoldIta
		text-align: right
		+r(992)
			font-size: 18px

#products
	padding: 100px 0 20px 0
	position: relative
	a.buy
		max-width: 100%
		width: 200px
		height: 40px
		line-height: 40px
		margin: 0 auto
		display: block
		margin-top: 20px
		color: $w
		text-transform: uppercase
		font-size: 16px
		background-color: $green
		border-radius: 4px
		+reg
		+r(767)
			margin-top: 10px
	.buy-info
		font-size: 14px
		padding: 0 10px
		margin-top: 10px
		color: $s9
	.slick-prev, .slick-next
		z-index: 222
		width: 50px
		height: 50px
		background-color: $s9
		position: absolute
		&::after
			content: ''
			-moz-transform: rotate(45deg) 
			-ms-transform: rotate(45deg)
			-webkit-transform: rotate(45deg)
			transform: rotate(45deg)
			display: inline-block
			position: absolute
			top: 50%
			left: 50%
			width: 14px
			height: 14px
			margin: -7px 0 0 -7px
			background: transparent
			border-left: 2px solid $w
			border-bottom: 2px solid $w
			transition: all .3s ease-in-out
		&::before
			content: none
			color: 
			font-size: 20px
	.slick-prev
		left: -20px
		+r(1024)
			left: 0
	.slick-next
		right: -20px
		+r(1024)
			right: 0
		&::after
			-moz-transform: rotate(-135deg) 
			-ms-transform: rotate(-135deg)
			-webkit-transform: rotate(-135deg)
			transform: rotate(-135deg)
	a.arrow
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)
	.section-title
		h1
			margin-bottom: 15px !important
		p
			font-size: 25px
			+reg
			+r(992)
				font-size: 20px
			+r(768)
				font-size: 18px
			+r(480)
				font-size: 16px
.product
	margin-top: 70px
	position: relative
	-moz-perspective: 1000
	-webkit-perspective: 1000
	perspective: 1000
	text-align: center
.back
	width: 100%
	min-height: 100%
	padding: 20px
	color: $w
	background-color: $green
	position: absolute
	top: 0
	left: 0
	visibility: hidden
	opacity: 0
	-moz-transform: rotateY(180deg)
	-webkit-transform: rotateY(180deg)
	transform: rotateY(180deg)
	-moz-transition: 0.5s ease
	-o-transition: 0.5s ease
	-webkit-transition: 0.5s ease
	transition: 0.5s ease
	-moz-transform-style: preserve-3d
	-webkit-transform-style: preserve-3d
	transform-style: preserve-3d
	&-title
		font-size: 20px
		margin-bottom: 20px
		+bold
		+r(480)
			font-size: 18px
	&-text
		font-size: 16px
		+reg
		+r(480)
			font-size: 14px
.front
	&-img
		position: relative
		&:hover .back
			visibility: visible
			opacity: 1
			-moz-transform: rotateY(0)
			-webkit-transform: rotateY(0)
			transform: rotateY(0)
		img
			max-width: 250px
			margin: 0 auto
			+r(768)
				max-width: 200px
	&-status
		display: none !important
		align-items: center
		justify-content: center
		flex-direction: column
		position: absolute
		right: 0
		bottom: 0
		width: 125px
		height: 125px
		font-size: 11px
		border-radius: 50%
		color: $w
		+lig
		&.red
			background-color: rgba($red,0.5)
		&.green
			background-color: rgba(97,204,76,0.8)
		&.brown
			background-color: rgba(255,177,76,0.8)
		span
			display: block
			font-weight: bold
	&-name
		font-size: 25px
		color: $green
		margin-top: 10px
		+reg
		+r(480)
			font-size: 22px
	&-text
		color: $s9
		margin-top: 10px
		padding: 0 10px
		+reg
		+r(480)
			padding: 0 10px
			font-size: 12px
	&-price
		color: $red
		font-size: 40px
		margin: 15px 0
		+lig
		+r(480)
			margin: 5px 0
			font-size: 28px
.vig
	margin-top: 50px
	.section-title
		margin-bottom: 30px

	&-price
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: space-between
		+r(768)
			justify-content: center
		&__title
			position: relative
			span
				width: 250px
				display: block
				position: relative
				font-size: 40px
				+lig
				+r(1280)
					width: 190px
					font-size: 30px
			.orginal
				&::after
					content: ''
					display: block
					width: 100%
					height: 4px
					background-color: $red
					border-radius: 5px
					transform: rotate(-12deg)
					position: absolute
					top: 50%
					left: 0
			.sale
				display: block
				width: 500px !important
				font-size: 60px
				color: $red
				position: absolute
				top: 120%
				left: 0
				+r(1280)
					font-size: 40px
				+r(992)
					width: 100% !important
					font-size: 35px
		&__img
			img
				max-width: 300px
				+r(1280)
					max-width: 200px
				+r(768)
					display: none
	
	&-text
		text-align: right
		font-size: 20px
		font-weight: bold
		margin-bottom: 40px
		+reg
		+r(768)
			font-size: 18px
			text-align: center
		span
			display: inline-block
			color: $red

#mission
	width: 100%
	height: 400px
	display: -webkit-flex
	display: -moz-flex
	display: -ms-flex
	display: -o-flex
	display: flex
	align-items: center
	justify-content: center
	text-align: center
	background-size: cover
	background-repeat: no-repeat
	background-position: center
	margin-top: 20px
	+r(768)
		margin-top: 100px
.mission
	&-title
		font-size: 80px
		color: $brown-dark
		margin-bottom: 20px
		+playBlackIta
		+r(768)
			font-size: 40px
	&-text
		font-size: 25px
		+italic
		+r(768)
			font-size: 20px

#plus
	padding: 80px 0 30px 0
	a.arrow
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)
	.section-title
		margin-bottom: 50px

.plus
	margin-bottom: 60px
	+r(768)
		text-align: center
		margin-bottom: 30px
	&:last-child
		margin-bottom: 0
	&-title
		font-size: 30px
		color: $green
		margin-bottom: 10px
		+bold
		+r(768)
			font-size: 25px
		+r(480)
			font-size: 20px
	&-text
		font-size: 20px
		color: $s9
		+reg
		+r(768)
			font-size: 16px
		+r(480)
			font-size: 14px
	&-img
		display: -webkit-flex
		display: -moz-flex
		display: -ms-flex
		display: -o-flex
		display: flex
		align-items: center
		justify-content: flex-end
		+r(768)
			justify-content: center
			margin-bottom: 20px
		img
			max-width: 200px
			+r(768)
				max-width: 150px
			+r(480)
				max-width: 100px

#allerg
	padding: 15px 0
	background-color: $pink
	text-align: center
	.allerg
		font-size: 20px
		color: $w
		+reg
		+r(768)
			font-size: 16px
			text-align: left
		+r(480)
			font-size: 14px

#certificate
	padding: 100px 0 50px 0
	text-align: center
	.back-img
		position: absolute
		top: 100px
		left: 50%
		transform: translateX(-50%)
		+cover
	a.arrow
		position: absolute
		top: 0
		left: 50%
		transform: translateX(-50%)
	.section-title
		margin-bottom: 50px
.cert
	&-img
		img
			+r(768)
				max-width: 200px
				margin: 0 auto
	&-text
		p
			padding-top: 40px
			font-size: 20px
			+r(768)
				font-size: 18px
				padding-top: 10px
			+r(480)
				font-size: 14px

	&-best
		margin-top: 40px
		&__title
			color: $green
			margin-bottom: 20px
			h2
				font-size: 45px
				+playBlackIta
				+r(768)
					font-size: 35px
				+r(480)
					font-size: 24px
		&__img
			img
				+r(768)
					margin: 0 auto

#partners
	padding: 50px 0
	+r(768)
		padding: 20px 0
	.slick-prev, .slick-next
		z-index: 222
		width: 35px
		height: 35px
		background-color: $s9
		position: absolute
		&::after
			content: ''
			-moz-transform: rotate(45deg) 
			-ms-transform: rotate(45deg)
			-webkit-transform: rotate(45deg)
			transform: rotate(45deg)
			display: inline-block
			position: absolute
			top: 50%
			left: 50%
			width: 10px
			height: 10px
			margin: -5px 0 0 -5px
			background: transparent
			border-left: 2px solid $w
			border-bottom: 2px solid $w
			transition: all .3s ease-in-out
		&::before
			content: none
			color: 
			font-size: 20px
	.slick-prev
		left: 0
	.slick-next
		right: 0
		&::after
			-moz-transform: rotate(-135deg) 
			-ms-transform: rotate(-135deg)
			-webkit-transform: rotate(-135deg)
			transform: rotate(-135deg)
	.section-title
		margin-bottom: 40px
		+r(768)
			margin-bottom: 20px
		+r(480)
			margin-bottom: 10px
	.item
		display: block
		height: 250px
		+fcenter
		&:hover img
			transform: scale(1.1)
		img
			+trans
			max-width: 220px
			transform: scale(1)

#faq
	padding: 40px 0
	.back-img
		position: absolute
		right: 0
		bottom: 0
		+r(768)
			display: none
		img
			max-width: 300px
	.section-title
		margin-bottom: 40px
.faq
	margin-bottom: 20px
	&-title
		max-width: 100%
		color: $red
		font-size: 25px
		background-color: transparent
		width: 100%
		text-align: left
		border-color: transparent
		+reg
		+r(480)
			font-size: 14px
		&:hover, &:active, &:focus
			border-color: transparent
			background-color: transparent
	&-text
		color: $b
		font-size: 20px
		+reg
		+r(768)
			font-size: 14px
